html {
    font-size: 10px; /* set base font size; now set to 10pixels high*/
    font-family: 'Noto Serif', ; /* set font */
    background-color: #8CD3AD;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #E5E4EB;
    padding: 0 20px 20px 20px;
    border: 4px solid black;
}

img {
    float: left;
    height: 300px;
    width: 200px;
    display: block;
    margin: 1 auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
}

p, li {
    margin: 0 auto;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}